<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%!
    import logging
    logger = logging.getLogger('splunk.module.setup')
%>
<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/splunk_app_for_nix/css/setup.css']}" />
    <%lib:script_tags files="${['/static/app/splunk_app_for_nix/js/setup.js']}" />
</%def>
<div id="setup" class="SuccessMessage">
  <h2>Failure!</h2>
  <p>Your Splunk for Unix settings could not be saved.&nbsp;&nbsp;Click "OK" to go back to the Splunk for Unix setup page.</p>
  <a target="_parent" href="${make_url('/app/%s/setup' % host_app)}" class="splButton-primary">OK</a>
</div>

