.AlertEvent.chart .node text {
  font: 10px sans-serif;
  pointer-events: none;
}

.AlertEvent.chart path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1px;
}

.AlertEvent.chart .controls {
    font: 12px sans-serif;
}

.AlertEvent.chart .controls rect {
    fill: #ccc;
    fill-opacity: .3;
    stroke: #666;
    stroke-width: 1.5px;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: 1px;
}

.AlertEvent.chart {
    overflow: auto;
    margin: 0 0 20px 0;
    display: inline-block;
    z-index: 10;
}

.AlertEvent.chart .node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  stroke: #99BDCD;
  stroke-width: 1.5px;
}

.AlertEvent.chart .node text {
  font: 10px sans-serif;
  pointer-events: none;
}

.AlertEvent.chart path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.AlertEvent.chart .controls {
    font: 12px sans-serif;
}

.AlertEvent.chart .controls rect {
    fill: #ccc;
    fill-opacity: .3;
    stroke: #666;
    stroke-width: 1.5px;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: 1px;
}

.AlertEvent.chart .sorts text.active {
    fill: red;
}

.AlertEvent.chart:hover
{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0) inset;
}
