<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%!
    import logging
    logger = logging.getLogger('splunk')
%>
<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/splunk_app_for_nix/css/alerts_config.css']}" />
    <%lib:script_tags files="${['/static/app/splunk_app_for_nix/js/alerts_config.js']}" />
</%def>
<div id="setup" class="SuccessMessage">
  <h2>Failure!</h2>
  <p>Your Splunk for Unix and Linux alert configuration could not be saved.&nbsp;&nbsp;Click "OK" to go back to the Splunk for Unix and Linux settings page.</p>
  <a target="_parent" href="${make_url('/app/%s/settings' % host_app)}" class="splButton-primary">OK</a>
</div>

