<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%!
    import logging
    logger = logging.getLogger('splunk')
%>
<%def name="css()">
    <%coreCSSFiles = [
        "/static/css/view.css", 
        "/static/css/skins/default/default.css", 
        '/static/css/jquery.iphone-style-checkboxes.css'
    ] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>
<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/splunk_app_for_nix/unixHeadlines/manage_headlines.css']}" />
    <%lib:script_tags files="${['/static/app/splunk_app_for_nix/unixHeadlines/manage_headlines.js']}" />
</%def>
<div class="SuccessMessage">
  <h2>Headlines!</h2>
  <hr>
  <p>Your headline wasn't processed.&nbsp;&nbsp;Click "OK" to return to the headlines manager.</p>

  <div class="ManageHeadlinesButtons">
    <form method="GET" action="${make_url('/custom/splunk_app_for_nix/unixheadlines/%s/manage' % app)}">
      <input type="submit" class="splButton-primary OK" value="OK" />
    </form>
  </div>
</div>
