.UnixPrefsReset {
    cursor: pointer;
    height:20px;
    width:50px;
    margin-right: 8px;
    text-align: center;
}

.UnixPrefsReset button {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    height: 21px;
}

